body{
    background-image: url(/assets/images/pola.jpg);
}

#box{
    margin: 0 auto;
    width: 800px;
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px black;
    padding: 3px;
}

#nav{
    text-align: center;
}

table{
    text-align: center;
    margin: 0 auto;
    margin-top: -30px;
    font-size: 14px;
}

#konten{
    margin-top: 50px;
    text-align: center  ;
}

#konten h3{
    font-size: 30px;
  
}

#konten img{
    margin-top: -30px;
}

a{
    color: yellowgreen;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: green;
    font-size: 15px;
}

a:visited{
    text-decoration: none;
}

#prestasi{
   
}
